{% extends "home.html" %}

{% block start %}

{% load static %}<link rel="stylesheet" href="/media/css/custom.css"/>

    {#    About section#}
    <div id="about" STYLE="margin-TOP: 100px;" class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sn-8 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                    <div  class="about-left">
                        <h2 style="margin-top: 50px;
 margin-bottom: 20px;" class="section-title">About Us
                        </h2>
                        <div class="line"></div>
                        <h4 style="margin-bottom: 20px;">Get some info about Plivory !</h4>
                        <p style="margin-bottom: 50px;
">Hi ! my name is Danya Ali , i am the founder of taslo and some other small business , iHi ! my name is Danya Ali , i am the founder of taslo and some other small business , i open up taslo iHi ! my name is Danya Ali , i am the founder of taslo and some other small business , i open up taslo i open up taslo in 2019 bucause of my hope in making cookies and drawing else it was the first iraqi business in cookies decorating ! , i make other sweets like mini caker or chocolate chips cookies , also steamed buns is best seller  </p>
                        <!-- Add icon library --><!-- Add icon library --><button class="  col-md-4  mb-3 btn btn-send " value="" style="background-color: 	#F6C6D1;border-radius: 9px; font-size: 1.0em; margin: 10px;

  "><a style="color :black;" href="/about/">Read More </a></button>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
              <!-- Add font awesome icons -->
            <a href="https://www.facebook.com/taslo.sweets/" class="fa fa-facebook "></a>
             <a href="https://www.instagram.com/taslo.sweets/" class="fa fa-instagram"></a>
                    </div>
                </div>
                <div class="col-md-5 visible-md visible-lg wow fadeInDown" data-wow-delay="0.6s">
                    <div class="profile">
                        <img src="https://d.top4top.io/p_2156w8ujz1.jpg" alt="Profile image" class="img-responsive"style="object-fit:cover;height: 100%;">


             </div>

                    </div>
                </div>
            </div>


{% endblock %}
