{% extends "base.html" %}

{% block start %}
{% load static %}



<section class="position-relative py-7"style=" height:400px;">
    <div id="home" class="banner-area section-padding " >
    <img  style="opacity: 0.4;" class="bg-image " src="https://up4net.com/uploads4/up4net.com163768435956981.jpg" alt="">

<div class="container-fluid main-section">
<div class="row">
<div class="offset-lg-2 col-lg-8 section-part text-center">
<h2 class="section-part text-center" style="font-size:40px;"> The Concept of creativity</h2>
<P>if you are interested in high quality designs
    you are in the right place !.</P>
  <div class="btn-wrapper mt-4">
                  <a href="/portfoilo/" class="btn btn-pink" style="  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #DEB2D2;"><div class="separator line-separator"></div>
                    <span class="btn-inner--icon"><i class="ni ni-button-play"></i></span>
                    <span class="btn-inner--text">See Portfoilo</span>
                  </a>
                </div> </div>
</div>
</div>

</div>
</div>
  </section>

    {#    About section#}<link rel="stylesheet" href="/media/css/all.css"/>
    <div id="about" class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sn-8 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                    <div  class="about-left">
                        <h2 style="margin-top: 50px;
 margin-bottom: 40px;" class="section-title">About Us
                        </h2>
                        <div class="line"></div>
                        <h4 style="margin-bottom: 20px;">Get some info about Plivory !</h4>
                        <p style="margin-bottom: 80px;
"> Hello ! I am Danya, a computer engineering student, i'll tell you some information Plivory. Plivory is an Iraqi business that i start in 2020, but I learn graphic design since 2012 and i worked for many individuals and freelance websites, so I but all my experiences in this business!  </p>
                        <!-- Add icon library --><!-- Add icon library --><button class="  col-md-4  mb-3 btn btn-send " value="" style="background-color: 	#F6C6D1;border-radius: 9px; font-size: 1.0em; margin: 10px;

  "><a style="color :black;" href="https://plivoryplan.com/">Our Website </a></button>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
              <!-- Add font awesome icons -->
            <a href="https://www.facebook.com/plivoryplan//" class="fab fa-2x fa-facebook "></a>
             <a href="https://www.instagram.com/plivoryplan/" class="fab fa-2x fa-instagram"></a>
                    </div>
                </div>
                <div class="col-md-5 visible-md visible-lg wow fadeInDown" data-wow-delay="0.6s">
                    <div class="profile">
                        <img src="https://d.top4top.io/p_2156w8ujz1.jpg" alt="Profile image" class="img-responsive"style="object-fit:cover;height: 100%;">


             </div>

                    </div>
                </div>
            </div>



  <form style="background-color:white;
" class=" container position-relative ">

                <!--Stylesheet-->
    <style class="" media="screen">
.wrapper{
    width: 40%;
    min-width: 100%;


}
.containero{
    width: 100%;
    padding: 30px 40px 50px;
    background-color: #FEF0F0;
    border: 2px solid rgba(255,255,255,0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
}
.containero *{

    color: black;

}

.skills:not(:last-child){
    margin-bottom: 30px;
}
.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;

    border: 2px solid #ACA3CE;

    border-radius: 20px;

}
.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #ACA3CE;


}
#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 90%;
    }
}
#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 75%;
    }
}
#js-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill {
    100%{
        width: 90%;
    }
}
#jQuery-bar{
    animation: jQuery-fill 2s forwards;
}
@keyframes jQuery-fill{
    100%{
        width: 68%;
    }
}
    </style>

    <div class="wrapper">
        <div class="shape-1"></div>
        <div class="shape-2"></div>
        <div class="containero">
            <h2>Our Skills </h2>
            <div class="skills">
                <div class="details">
                    <span>HTML</span>
                    <span>90%</span>
                </div>
                <div class="bar">
                    <div id="html-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>CSS</span>
                    <span>85%</span>
                </div>
                <div class="bar">
                    <div id="css-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>Photoshop</span>
                    <span>90%</span>
                </div>
                <div class="bar">
                    <div id="js-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                    <span>Illustrator</span>
                    <span>68%</span>
                </div>
                <div class="bar">
                    <div id="jQuery-bar"></div>
                </div>
            </div>
        </div>
    </div></form>








  	<div class="container">
  		<h2 STYLE="margin-top: 50px;"> Born To Be Miracle Collection</h2>
  		<div sTYLE="margin-bottom: auto;margin-top: -50px;" class="row">
    <div class="col-md-3 col-sm-6">
 <div class="wrapper0">
    <div class="card0 "> <div class="image"> <img   src="https://l.top4top.io/p_2160jet1l1.png"
    > </div>

        <div class="about-product ">
            <h3 style="color:black;">Miracle Notebook</h3>
            <h4 >$20.<small>99</small></h4> <button class="btn btn-success buy-now"><a style="color:white;" href="https://www.zazzle.com/store/iqtrends"> Buy Now </a>
            </button>
        </div>
    </div>
</div></div>

     <div class="col-md-3 col-sm-6">
 <div class="wrapper0">
    <div class="card0 ">
        <div class="image"> <img   src="https://a.top4top.io/p_2160felib2.png" > </div>
        <div class="about-product ">
            <h3 style="color:black;">Miracle pillow</h3>
            <h4>$30.<small>99</small></h4> <button class="btn btn-success buy-now"  ><a style="color:white;" href="https://www.zazzle.com/store/iqtrends"> Buy Now </a>
        </button>
        </div>
    </div>
</div>

</div>

      <div class="col-md-3 col-sm-6">
 <div class="wrapper0">
    <div class="card0 ">
        <div class="image"> <img  src="https://b.top4top.io/p_2160776ph3.png"> </div>
        <div class="about-product ">
            <h3 style="color:black;">Miracle iphonecase</h3>
            <h4>$20.<small>99</small></h4> <button class="btn btn-success buy-now"><a style="color:white;" href="https://www.zazzle.com/store/iqtrends"> Buy Now </a></button>
        </div>
    </div>
</div>
</div>
      <div class="col-md-3 col-sm-6">
 <div class="wrapper0">
    <div class="card0 ">
        <div class="image"> <img  src="https://h.top4top.io/p_21614z4zu1.png"> </div>
        <div class="about-product ">
            <h3 style="color:black;">Miracle T-shirt</h3>
            <h4>$35.<small>99</small></h4> <button class="btn btn-success buy-now"><a style="color:white;" href="https://www.zazzle.com/store/iqtrends"> Buy Now </a></button>
        </div>
    </div>
</div>
</div>







<div  class="about-area section-padding">
  	<div class="container">
  		<h2 STYLE="margin-top: 50px;margin-bottom: 50px;">Ready-to-ship prodects</h2>
        <link rel="stylesheet" href="/media/css/all.css"/>
  		<div STYLE="margin-top: 50px;" class="row">
  			<div  class="col-md-3 col-sm-6">
  				<div class="product-grid">
  					<div class="product-image">
  						<a href="#">
  							<img class="pic-1" src="https://a.top4top.io/p_2158jh3jw1.jpg">
  								</a>

  						<ul class="social">


                        <div class="row" style="margin: auto;">

                            <li><a href="https://www.zazzle.com/blue_baby_boy_shower_invitation-256644846170501762" data-tip="Buy Now"><i  style="color:white;" class="fa fa-shopping-cart"></i></a></li>
  						 <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.zazzle.com/blue_baby_boy_shower_invitation-256644846170501762" data-tip="Share on facebook"><i  style="color:white;" class="fab fa-2x fa-facebook-square"></i></a></li>

</div>	</ul>

  						<span class="product-new-label">Sale</span>
  						<span class="product-discount-label">20%</span>

  					</div>

  					<div class="product-content">
  						<h3 class="title"><a href="#">Blue baby boy shower invitation</a></h3>
  						<div class="price">$1.35<span>$2.70</span></div>
  						<a class="add-to-cart" href="https://www.zazzle.com/blue_baby_boy_shower_invitation-256644846170501762">Buy Now</a>
  					</div>

  				</div>
  			</div>







  			<div class="col-md-3 col-sm-6">
  				<div class="product-grid">
  					<div class="product-image">
  						<a href="#">
  							<img class="pic-1" src="https://b.top4top.io/p_2158fumwf2.jpg">

  						</a>

  						<ul class="social">


                        <div class="row" style="margin: auto;">

                            <li><a href="https://www.zazzle.com/be_the_light_sweatshirt-235465738014207372" data-tip="Buy Now"><i  style="color:white;" class="fa fa-shopping-cart"></i></a></li>
  						 <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.zazzle.com/be_the_light_sweatshirt-235465738014207372" data-tip="Share on facebook"><i  style="color:white;" class="fab fa-2x fa-facebook-square"></i></a></li>

</div>	</ul>

  						<span class="product-new-label">Sale</span>
  						<span class="product-discount-label">20%</span>

  					</div>

  					<div class="product-content">
  						<h3 class="title"><a href="#">Be The Light Sweatshirt</a></h3>
  						<div class="price">$24.12<span>$30.15</span></div>
  						<a class="add-to-cart" href="https://www.zazzle.com/be_the_light_sweatshirt-235465738014207372">Buy Now</a>
  					</div>

  				</div>
  			</div>






  			<div class="col-md-3 col-sm-6">
  				<div class="product-grid">
  					<div class="product-image">
  						<a href="#">
  							<img class="pic-1" src="https://c.top4top.io/p_2158q6rah3.jpg">

  						</a>

  						<ul class="social">


                        <div class="row" style="margin: auto;">

                            <li><a href="https://www.zazzle.com/you_born_to_be_miracle_notebook-256361073028954984" data-tip="Buy Now"><i  style="color:white;" class="fa fa-shopping-cart"></i></a></li>
  						 <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.zazzle.com/you_born_to_be_miracle_notebook-256361073028954984" data-tip="Share on facebook"><i  style="color:white;" class="fab fa-2x fa-facebook-square"></i></a></li>

</div>	</ul>

  						<span class="product-new-label">Sale</span>
  						<span class="product-discount-label">20%</span>

  					</div>


  					<div class="product-content">
  						<h3 class="title"><a href="#">You born to be Miracle Notebook</a></h3>
  						<div class="price">$14.84<span>$18.55</span></div>
  						<a class="add-to-cart" href="https://www.zazzle.com/you_born_to_be_miracle_notebook-256361073028954984">Buy Now</a>
  					</div>

  				</div>
  			</div>






  			<div class="col-md-3 col-sm-6">
  				<div class="product-grid">
  					<div class="product-image">
  						<a href="#">
  							<img class="pic-1" src="https://d.top4top.io/p_2158u2yr24.png">

  						</a>

  						<ul class="social">


                        <div class="row" style="margin: auto;">

                            <li><a href="https://www.zazzle.com/japanese_happiness_hoodie-235144577610834127" data-tip="Buy Now"><i  style="color:white;" class="fa fa-shopping-cart"></i></a></li>
  						 <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.zazzle.com/japanese_happiness_hoodie-235144577610834127" data-tip="Share on facebook"><i  style="color:white;" class="fab fa-2x fa-facebook-square"></i></a></li>

</div></ul>

  						<span class="product-new-label">Sale</span>
  						<span class="product-discount-label">20%</span>

  					</div>



  					<div class="product-content">
  						<h3 class="title"><a href="#">Japanese Happiness Hoodie</a></h3>
  						<div class="price">$32.68<span>$40.85 </span></div>
  						<a class="add-to-cart" href="https://www.zazzle.com/japanese_happiness_hoodie-235144577610834127">Buy Now</a>
  					</div>

  				</div>
  			</div>
  		</div>
  	</div></div>


  <button class=" section-title col-md-4  mb-3 btn btn-send " value="" style="background-color: 	#ffb6c1;border-radius: 9px; font-size: 1.2em; margin: auto;width:150px;height:60px;

 "><a style="color :black;" href="/READYTOSHIP/">See All Products</a></button>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


        </div>
      <!--
-->










<div  class="about-area section-padding">
  	<div class="container">
  		<h2 STYLE="margin-top: 50px;margin-bottom: 50px;">Free prodects</h2>
  		<div STYLE="margin-top: 50px;" class="row">

  			<div class="col-md-3 col-sm-6">
  				<div style="background-color: #EDCCDC;" class="product-grid card shadow border-0 h-100 " >
  					<div class="product-image">
  						<a href="#">
  							<img style=" height:320px; object-fit: cover;"    class="pic-1" src="https://plivoryplan.files.wordpress.com/2021/07/untitled-18.jpg">
  						</a>
  						<span class="product-new-label">free</span>
  					</div>
                    <ul class="social">


                        <div class="row" style="justify-content: center;margin-top: 100px;
	align-items: center;">
	 <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.mediafire.com/file/t1kv4mfs8eqzkk0/%25D8%25AC%25D8%25B1%25D8%25A9_%25D8%25A7%25D9%2584%25D9%2585%25D8%25AF%25D8%25AE%25D8%25B1%25D8%25A7%25D8%25AA.rar/file" data-tip="Share on facebook"><i  style="color:white;" class="fab fa-2x fa-facebook-square"></i></a></li>

</div></ul>

  					<div class="product-content"style="background-color: #EDCCDC;">
  						<h3 style="color:white" class="title"><a href="https://www.mediafire.com/file/t1kv4mfs8eqzkk0/%25D8%25AC%25D8%25B1%25D8%25A9_%25D8%25A7%25D9%2584%25D9%2585%25D8%25AF%25D8%25AE%25D8%25B1%25D8%25A7%25D8%25AA.rar/file">savings jar PDF</a></h3>
  						<a class="add-to-cart" href="https://www.mediafire.com/file/t1kv4mfs8eqzkk0/%25D8%25AC%25D8%25B1%25D8%25A9_%25D8%25A7%25D9%2584%25D9%2585%25D8%25AF%25D8%25AE%25D8%25B1%25D8%25A7%25D8%25AA.rar/file">Download</a>
  					</div>

  				</div>
  			</div>
  			<div class="col-md-3 col-sm-6">
  				<div  style="background-color: #EDCCDC;" class="product-grid card shadow border-0 h-100">
  					<div class="product-image">
  						<a href="#">
  							<img style=" height:320px; object-fit: cover;" class="pic-1" src="https://plivoryplan.files.wordpress.com/2021/06/d98ad8b5d8ab.jpg">
  						</a>
  						<span class="product-new-label">free</span>
  					</div>
                     <ul class="social">


                        <div class="row" style="justify-content: center;margin-top: 100px;
	align-items: center;">
	 <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://drive.google.com/file/d/1jQtRVHmP8da5sjeRFvvdk3H6h0YvZ7PQ/view?usp=sharing" data-tip="Share on facebook"><i  style="color:white;" class="fab fa-2x fa-facebook-square"></i></a></li>

</div></ul>
  					<div class="product-content" style="background-color: #EDCCDC;">
  						<h3 class="title"><a href="https://drive.google.com/file/d/1jQtRVHmP8da5sjeRFvvdk3H6h0YvZ7PQ/view?usp=sharing">July organizer PDF</a></h3>
  						<a class="add-to-cart" href="https://drive.google.com/file/d/1jQtRVHmP8da5sjeRFvvdk3H6h0YvZ7PQ/view?usp=sharing">Download</a>
  					</div>

  				</div>
  			</div>
		<div class="col-md-3 col-sm-6">
  				<div  style="background-color: #EDCCDC;" class="product-grid card shadow border-0 h-100">
  					<div class="product-image">
  						<a href="#">
  							<img style=" height:320px; object-fit: cover;" class="pic-1" src="https://plivoryplan.files.wordpress.com/2021/08/d982d8b5.jpg">
  						</a>
  						<span class="product-new-label">free</span>
  					</div>
                     <ul class="social">


                        <div class="row" style="justify-content: center;margin-top: 100px;
	align-items: center;">
	 <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://drive.google.com/file/d/18poVr7-GMuC0RI6OE3bI16l_DbXU3n4l/view?usp=sharing" data-tip="Share on facebook"><i  style="color:white;" class="fab fa-2x fa-facebook-square"></i></a></li>

</div></ul>
  					<div class="product-content" style="background-color: #EDCCDC;">
  						<h3 class="title"><a href="https://drive.google.com/file/d/18poVr7-GMuC0RI6OE3bI16l_DbXU3n4l/view?usp=sharing">August organizer PDF</a></h3>
  						<a class="add-to-cart" href="https://drive.google.com/file/d/18poVr7-GMuC0RI6OE3bI16l_DbXU3n4l/view?usp=sharing">Download</a>
  					</div>

  				</div>
  			</div>


  				</div>
  			</div>

</div>




















    <div id="vlog" class="about-area section-padding" style="margin-top: 50px;">
        <div class="container">
       <h2 >Blogs For you !</h2>
        <div class="row">
        {% for blog in blogs %}
        <div class="col-md-4  mb-3 hover-animate" style="margin-top: 30px;">
          <div style="display: flex;flex-grow: 1;" class="card shadow border-0 h-100" style="height:700px;">
            <a href="{% url 'blog_detail' blog.slug %}" >
              <img class="img-fluid card-img-top" src="/media/{{blog.image}}" style="height:400px;width: 100%;object-fit:cover;" alt="..."/></a>
            <div class="card-body"><a class="text-uppercase text-muted text-sm letter-spacing-2" href="#">
              {{blog.user.username}} </a>
              <h5 class="my-2"><a class="text-dark" href="{% url 'blog_detail' blog.slug %}">
               {{blog.title}}          </a></h5>
              <p class="text-gray-500 text-sm my-3"><i class="far fa-clock mr-2"></i>
                {{blog.created_at}}</p>


              <a class="btn btn-link pl-0"href="{% url 'blog_detail' blog.slug %}">Read more<i class="fa fa-long-arrow-alt-right ml-2"></i></a>
            </div>
          </div>
        </div>  {% endfor %}         <button class="  col-md-4  mb-3 btn btn-send " value="" style="background-color: 	#ffb6c1;border-radius: 9px; font-size: 1.2em; margin: auto;

  "><a style="color :black;" href="/blogs/">See All BLOGS</a></button>

</div></div>



<style>

#slider {
  position: relative;
  width: 900px;
  height: 450px;

  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);

	align-items: center;
}
#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
}
#slider ul li {
  position: relative;
  height: 100%;

  float: left;
}
#slider ul li img{
width: 900px;
  height: 450px;object-fit: cover;

}

#slider #prev, #slider #next {
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: black;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease;
}
#slider #prev:hover, #slider #next:hover {
  background-color: pink;
  text-shadow: 3;
}
#slider #prev {
  left: 10px;
}
#slider #next {
  right: 10px;
}
  </style>
</head>
<div class="about-area section-padding fadeInLeft margin: auto;" style="margin-top: 50px;margin: auto;margin-bottom: 50px;" >
        <div class="container" ><h2 style="margin-bottom: 30px;">Our last designs on hoodies</h2>
        <div class="row">
  <div id="slider" style="align-items: center;margin: auto;margin-bottom: 50px;">
    <ul id="slideWrap" >
      <li><img src="https://g.top4top.io/p_21633dg4l1.jpg" alt=""></li>
      <li><img src="https://d.top4top.io/p_21636biik2.jpg" alt=""></li>
      <li><img src="https://b.top4top.io/p_21636b3vf1.jpg" alt=""></li>
      <li><img src="https://e.top4top.io/p_21639n96d3.jpg" alt=""></li>
      <li><img src="https://f.top4top.io/p_21634ghjd4.jpg" alt=""></li>
    </ul>
    <a id="prev">&#8810;</a>
    <a id="next" >&#8811;</a>
  </div>


  <script>
    var responsiveSlider = function() {

var slider = document.getElementById("slider");
var sliderWidth = slider.offsetWidth;
var slideList = document.getElementById("slideWrap");
var count = 1;
var items = slideList.querySelectorAll("li").length;
var prev = document.getElementById("prev");
var next = document.getElementById("next");

window.addEventListener('resize', function() {
  sliderWidth = slider.offsetWidth;
});

var prevSlide = function() {
  if(count > 1) {
    count = count - 2;
    slideList.style.left = "-" + count * sliderWidth + "px";
    count++;
  }
  else if(count = 1) {
    count = items - 1;
    slideList.style.left = "-" + count * sliderWidth + "px";
    count++;
  }
};

var nextSlide = function() {
  if(count < items) {
    slideList.style.left = "-" + count * sliderWidth + "px";
    count++;
  }
  else if(count = items) {
    slideList.style.left = "0px";
    count = 1;
  }
};

next.addEventListener("click", function() {
  nextSlide();
});

prev.addEventListener("click", function() {
  prevSlide();
});

setInterval(function() {
  nextSlide()
}, 5000);

};

window.onload = function() {
responsiveSlider();
}


  </script>

  </div>
</div>


<h1 style="margin-bottom: -20px;">Contact Us</h1>
<div id="contact" class="contact-banner section-padding">

 <div class="thank-you hidden "> Thank you !</div></div>

    </div>

    <form name="contact-form" style="background-color:#FFE3E3 ;margin-bottom: 50px;border-radius: 9px;"><p class="contact-description">
        We'd really love to hear from you! Please fill in the form below and
        submit
      </p>
        <div class="row">
          <div class="col-md-5">
        <div class="form-group wow fadeInDown" data-wow-delay="0.2s">
                                        <input id="form_name" type="text" name="name" class="form-control"
                                               placeholder="Enter your full name *" required="required"
                                               data-error="Fullname is required.">

      </div>
</div>

        <div class="col-md-6"> <div class="form-group wow fadeInDown" data-wow-delay="0.2s">
         <input id="form_email" type="email" name="email" class="form-control"
                                               placeholder="Enter your email *" required="required"
                                               data-error="Valid email is required.">

      </div></div>


        <div class="col-md-12">
        <div class="form-group wow fadeInUp" data-wow-delay="0.6s">
                                        <textarea id="form_message" name="message" class="form-control"
                                                  placeholder="Your Message *" rows="4" required="required"
                                                  data-error="Leave a message for me"></textarea>

      </div>
</div>
      <hr />

      <button type="submit" class="submit btn " style="background-color: 	#ffb6c1;border-radius: 9px;">SUBMIT FORM</button>
   </div>
    </form>

</div></div>
    <script src="{% static 'js/main.js' %}"></script>








</div></div></div></div>














  {% endblock %}
