{% extends "home.html" %}

{% block start %}

 <link rel="stylesheet" href="/media/css/all.css"/>

<div   style="margin: 100px;" class=" section-padding ">
        <div class="container">


<h2>Ready-to-ship prodects </h2>
<div  class=" section-padding " id="myBtnContainer" style="margin: 20px 0px;">

  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('Invitation')"> Invitation</button>
  <button class="btn" onclick="filterSelection('clothes')"> clothes</button>
  <button class="btn" onclick="filterSelection('accessories')"> accessories</button>
</div>

<!-- Portfolio Gallery Grid -->
<div class="row"><link rel="stylesheet" href="/media/css/custom.css"/>



<div class="column accessories">
    <div class="content">

  				<div class="product-grid">
  					<div class="product-image">
  						<a href="#">
  							<img alt="Lights" class="pic-1" src="https://c.top4top.io/p_2158q6rah3.jpg">

  						</a>

  						<ul class="social">
<div class="row" style="margin: auto;">

                            <li><a href="https://www.zazzle.com/you_born_to_be_miracle_notebook-256361073028954984" data-tip="Buy Now"><i  style="color:white;" class="fa fa-shopping-cart"></i></a></li>
  						 <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.zazzle.com/you_born_to_be_miracle_notebook-256361073028954984" data-tip="Share on facebook"><i  style="color:white;" class="fab fa-2x fa-facebook-square"></i></a></li>

</div>	</ul>

  						<span class="product-new-label">Sale</span>
  						<span class="product-discount-label">20%</span>

  					</div>


  					<div class="product-content">
  						<h3 class="title"><a href="https://www.zazzle.com/you_born_to_be_miracle_notebook-256361073028954984">Miracle Notebook</a></h3>
  						<div class="price">$15.77<span>$18.55</span></div>
  						<a class="add-to-cart" href="https://www.zazzle.com/you_born_to_be_miracle_notebook-256361073028954984">Buy Now</a>
  					</div>

  				</div></li>
  			</div></div>


<div class="column Invitation">
    <div class="content">

  				<div class="product-grid">
  					<div class="product-image">
  						<a href="#">
  							<img style=" max-height:330px; object-fit:cover;" alt="Lights" class="pic-1" src="https://f.top4top.io/p_2163sjzdl1.jpg">

  						</a>

  						<ul class="social">


                           <div class="row" style="margin: auto;">

                            <li><a href="https://www.zazzle.com/birthday_kids_party_flyer_invitation-256210108363720568" data-tip="Buy Now"><i  style="color:white;" class="fa fa-shopping-cart"></i></a></li>
  						 <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.zazzle.com/birthday_kids_party_flyer_invitation-256210108363720568" data-tip="Share on facebook"><i  style="color:white;" class="fab fa-2x fa-facebook-square"></i></a></li>

</div>	</ul>

  						<span class="product-new-label">Sale</span>
  						<span class="product-discount-label">20%</span>

  					</div>


  					<div class="product-content">
  						<h3 class="title"><a href="https://www.zazzle.com/birthday_kids_party_flyer_invitation-256210108363720568">Kids Party Flyer Invitation</a></h3>
  						<div class="price">$1.38<span>$2.75 </span></div>
  						<a class="add-to-cart" href="https://www.zazzle.com/birthday_kids_party_flyer_invitation-256210108363720568">Buy Now</a>
  					</div>

  				</div></li>
  			</div></div>




<div class="column clothes">
    <div class="content">

  				<div class="product-grid">
  					<div class="product-image">
  						<a href="#">
  							<img alt="Lights" class="pic-1" src="https://d.top4top.io/p_2158u2yr24.png">

  						</a>

  						<ul class="social">


                          <div class="row" style="margin: auto;">

                            <li><a href="https://www.zazzle.com/japanese_happiness_hoodie-235144577610834127" data-tip="Buy Now"><i  style="color:white;" class="fa fa-shopping-cart"></i></a></li>
  						 <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.zazzle.com/japanese_happiness_hoodie-235144577610834127" data-tip="Share on facebook"><i  style="color:white;" class="fab fa-2x fa-facebook-square"></i></a></li>

</div>	</ul>

  						<span class="product-new-label">Sale</span>
  						<span class="product-discount-label">20%</span>

  					</div>


  					<div class="product-content">
  						<h3 class="title"><a href="https://www.zazzle.com/japanese_happiness_hoodie-235144577610834127">Japanese Happiness Hoodie</a></h3>
  						<div class="price">$34.73<span>$40.85</span></div>
  						<a class="add-to-cart" href="https://www.zazzle.com/japanese_happiness_hoodie-235144577610834127">Buy Now</a>
  					</div>

  				</div></li>
  			</div></div>





<div class="column accessories">
    <div class="content">

  				<div class="product-grid">
  					<div class="product-image">
  						<a href="#">
  							<img alt="Lights" class="pic-1" src="https://f.top4top.io/p_2158jmo9g6.jpg">

  						</a>

  						<ul class="social">


                           <div class="row" style="margin: auto;">

                            <li><a href="https://www.zazzle.com/be_the_light_iphone_case-179038431896962708" data-tip="Buy Now"><i  style="color:white;" class="fa fa-shopping-cart"></i></a></li>
  						 <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.zazzle.com/be_the_light_iphone_case-179038431896962708" data-tip="Share on facebook"><i  style="color:white;" class="fab fa-2x fa-facebook-square"></i></a></li>

</div></ul>

  						<span class="product-new-label">Sale</span>
  						<span class="product-discount-label">20%</span>

  					</div>


  					<div class="product-content">
  						<h3 class="title"><a href="https://www.zazzle.com/be_the_light_iphone_case-179038431896962708">Be The Light iphone case</a></h3>
  						<div class="price">$28.48<span>$33.50 </span></div>
  						<a class="add-to-cart" href="https://www.zazzle.com/be_the_light_iphone_case-179038431896962708">Buy Now</a>
  					</div>

  				</div></li>
  			</div></div>


<div class="column accessories">
    <div class="content">

  				<div class="product-grid">
  					<div class="product-image">
  						<a href="#">
  							<img alt="Lights" class="pic-1" src="https://g.top4top.io/p_216456h2g6.jpg">

  						</a>

  						<ul class="social">

<div class="row" style="margin: auto;">

                            <li><a href="https://www.zazzle.com/japanese_happiness_hat-256731648805059987" data-tip="Buy Now"><i  style="color:white;" class="fa fa-shopping-cart"></i></a></li>
  						 <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.zazzle.com/japanese_happiness_hat-256731648805059987" data-tip="Share on facebook"><i  style="color:white;" class="fab fa-2x fa-facebook-square"></i></a></li>

</div>	</ul>

  						<span class="product-new-label">Sale</span>
  						<span class="product-discount-label">20%</span>

  					</div>


  					<div class="product-content">
  						<h3 class="title"><a href="https://www.zazzle.com/japanese_happiness_hat-256731648805059987">Japanese Happiness Hat</a></h3>
  						<div class="price">$21.68<span>$25.50</span></div>
  						<a class="add-to-cart" href="https://www.zazzle.com/japanese_happiness_hat-256731648805059987">Buy Now</a>
  					</div>

  				</div></li>
  			</div></div>




<div class="column clothes">
    <div class="content">

  				<div class="product-grid">
  					<div class="product-image">
  						<a href="#">
  							<img alt="Lights" class="pic-1" src="https://b.top4top.io/p_2164o7rk31.jpg">

  						</a>

  						<ul class="social">


                           <div class="row" style="margin: auto;">

                            <li><a href="https://www.zazzle.com/japanese_chemistry_sweatshirt-235356408762526400" data-tip="Buy Now"><i  style="color:white;" class="fa fa-shopping-cart"></i></a></li>
  						 <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.zazzle.com/japanese_chemistry_sweatshirt-235356408762526400" data-tip="Share on facebook"><i  style="color:white;" class="fab fa-2x fa-facebook-square"></i></a></li>

</div>		</ul>

  						<span class="product-new-label">Sale</span>
  						<span class="product-discount-label">20%</span>

  					</div>


  					<div class="product-content">
  						<h3 class="title"><a href="https://www.zazzle.com/japanese_chemistry_sweatshirt-235356408762526400">japanese chemistry sweatshirt</a></h3>
  						<div class="price">$26.01<span>$30.60</span></div>
  						<a class="add-to-cart" href="https://www.zazzle.com/japanese_chemistry_sweatshirt-235356408762526400">Buy Now</a>
  					</div>

  				</div></li>
  			</div></div>




<div class="column accessories">
    <div class="content">

  				<div class="product-grid">
  					<div class="product-image">
  						<a href="#">
  							<img alt="Lights" class="pic-1" src="https://c.top4top.io/p_216403h622.jpg">

  						</a>

  						<ul class="social">


                            <div class="row" style="margin: auto;">

                            <li><a href="https://www.zazzle.com/kawaii_rainbow_smile_keychain-146521259161541721" data-tip="Buy Now"><i  style="color:white;" class="fa fa-shopping-cart"></i></a></li>
  						 <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.zazzle.com/kawaii_rainbow_smile_keychain-146521259161541721" data-tip="Share on facebook"><i  style="color:white;" class="fab fa-2x fa-facebook-square"></i></a></li>

</div>	</ul>

  						<span class="product-new-label">Sale</span>
  						<span class="product-discount-label">20%</span>

  					</div>


  					<div class="product-content">
  						<h3 class="title"><a href="https://www.zazzle.com/kawaii_rainbow_smile_keychain-146521259161541721">Kawaii Rainbow smile Keychain</a></h3>
  						<div class="price">$3.23<span>$3.80 </span></div>
  						<a class="add-to-cart" href="https://www.zazzle.com/kawaii_rainbow_smile_keychain-146521259161541721">Buy Now</a>
  					</div>

  				</div></li>
  			</div></div>


<div class="column clothes">
    <div class="content">

  				<div class="product-grid">
  					<div class="product-image">
  						<a href="#">
  							<img alt="Lights" class="pic-1" src="https://d.top4top.io/p_2164p296s3.jpg">

  						</a>

  						<ul class="social">


                          <div class="row" style="margin: auto;">

                            <li><a href="https://www.zazzle.com/cat_lovers_sweatshirt-235161942904861067" data-tip="Buy Now"><i  style="color:white;" class="fa fa-shopping-cart"></i></a></li>
  						 <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.zazzle.com/cat_lovers_sweatshirt-235161942904861067" data-tip="Share on facebook"><i  style="color:white;" class="fab fa-2x fa-facebook-square"></i></a></li>

</div>		</ul>

  						<span class="product-new-label">Sale</span>
  						<span class="product-discount-label">20%</span>

  					</div>


  					<div class="product-content">
  						<h3 class="title"><a href="https://www.zazzle.com/cat_lovers_sweatshirt-235161942904861067">cat lovers sweatshirt</a></h3>
  						<div class="price">$22.27<span>$26.20</span></div>
  						<a class="add-to-cart" href="https://www.zazzle.com/cat_lovers_sweatshirt-235161942904861067">Buy Now</a>
  					</div>

  				</div></li>
  			</div></div>




<div class="column Invitation">
    <div class="content">

  				<div class="product-grid">
  					<div class="product-image">
  						<a href="#">
  							<img alt="Lights" class="pic-1" src="https://f.top4top.io/p_2164v84s05.jpg">

  						</a>

  						<ul class="social">

<div class="row" style="margin: auto;">

                            <li><a href="https://www.zazzle.com/blue_baby_boy_shower_invitation-256644846170501762" data-tip="Buy Now"><i  style="color:white;" class="fa fa-shopping-cart"></i></a></li>
  						 <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.zazzle.com/blue_baby_boy_shower_invitation-256644846170501762" data-tip="Share on facebook"><i  style="color:white;" class="fab fa-2x fa-facebook-square"></i></a></li>

</div>
						</ul>


  						<span class="product-new-label">Sale</span>
  						<span class="product-discount-label">20%</span>

  					</div>


  					<div class="product-content">
  						<h3 class="title"><a href="https://www.zazzle.com/blue_baby_boy_shower_invitation-256644846170501762"> baby shower invitation</a></h3>
  						<div class="price">$1.38<span>$2.75 </span></div>
  						<a class="add-to-cart" href="https://www.zazzle.com/blue_baby_boy_shower_invitation-256644846170501762">Buy Now</a>
  					</div>

  				</div></li>
  			</div></div>











</div>




	<style>
* {

}

body {

}

/* Center website */
.main {

  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #FEF0F0;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #FDD9DB;
   color: black;
}

 img .pic-1{
 max-height:500px;}
</style>
<script>
	filterSelection("all") // Execute the function and show all columns
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  if (c == "all") c = "";
  // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

// Show filtered elements
function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {
      element.className += " " + arr2[i];
    }
  }
}

// Hide elements that are not selected
function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}



</script>



</div></div></div>
{% endblock %}

